<h1>About BlocItOff</h1>

<p><h4>BlocItOff is a self-destrucitng ToDo list. Items added will be automatically deleted after seven days or by marking them complete</h4></p>

<%= link_to "BlocItOff Home Page", root_path %> 