
<h1><%= @user.name %></h1>
<div class="row">
  <div class="col-md-8">
     <div class="media-body">
        <h2 class="media-heading"><%= user.name %></h2>
     </div>
  </div>
</div>
 <div class="row">
   <div class="tabbable tabs-left">
     <ul class="nav nav-tabs">
       <li class="active"><a href="#todos" data-toggle="tab">To-Do's</a></li>
     </ul>
         <%= render 'todo_items/todo_item' %>
    </div>
  </div>
  