.wrapper{
  width: 900px;
  border: solid-black;
}

.head{
  width: 300px;
}

 .user-info {
   margin-top: 9px;
 }

.nav {
  margin-top: 5px;
}

.social-btn {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #4187FB;
  border: solid;
  border-color: #A736FB;
  text-align: center;
  width: 70px;
  margin: 300px;
}